<h2>Todo Page</h2>
{{#if todos.length}}
<ul>
  {{#each todos}}
  <li class="todo">
    <label>
        <input type="chekbox">
        <span>{{name1}}</span>//получение имен из бд

        <button class="btn btn-small" type="submit">Отправить!</button>
    </label>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}