.box13{
    position: absolute;
    top: 200px;
    right: 920px;
    left: 90px;
  
}

.box14{
  
    position:absolute;
    top:900px;
    left:0px;
    right: 0px;
}
  
.box15{
    
    position:absolute;
    top:1195px;
    left:0px;
    right: 0px;
}

.box16{
    
    position:absolute;
    top:1470px;
    left:0px;
    right: 0px;
}