.box13{
    position: absolute;
    top: 260px;
    right: 920px;
    left: 90px;
  
}

.box14{
  
    position:absolute;
    top:1010px;
    left:0px;
    right: 0px;
}
  
.box15{
    
    position:absolute;
    top:1325px;
    left:0px;
    right: 0px;
}

.box16{
    
    position:absolute;
    top:1615px;
    left:0px;
    right: 0px;
}

.Directions-headerrr { 
    /*background-color: #282c34;*/
    min-height: 280vh; 
    flex-direction: column;
    /*font-size: calc(10px + 2vmin);*/
    color: #FFFFFF; /*изменен цвет текста */
    background: linear-gradient(#CB2D6F,#14a098,#0F292F); 
    
     
}