.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* добавлена тень */
  }
  
  .imgBoxes {
    width: 556px;
    height: 350px;
    background-color: #f5f5f5;
    border-radius: 30px;
    margin-right: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .contents {
    font-size: 50px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: justify;
  }
  .contents1 {
    font-size: 50px;
    line-height: 24px;
    margin-right: 10px;
    color: #ffffff;
    text-align: justify;
  }
  .imgBoxes1 {
    width: 556px;
    height: 350px;
    background-color: #f5f5f5;
    border-radius: 30px;
    margin-right: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  