.cont .box{ 
    position: relative; 
  
    width: 18rem; 
    height: 16rem; 
    margin: 8rem; 
    border-radius: 40px;
    overflow: hidden; /* чтобы скрыть элементы, выходящие за границы блока */
  }