.custom-navbar {
  background-color: #000000;
  padding: 13px;
  border-bottom: 2px solid #000000;
  margin: top 2px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-toggle {
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 24px;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 100px;
  margin-left: 70px;
}

.nav-link:hover {
  color: #e96dc6;
}
.nav-link1 {
  color: #17dfdf;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}

.form-group {
  
  margin-bottom: 50px;
}

.form-label {
  
  font-weight: bold;
}

.form-control {
  
  border: 2px solid hsl(164, 70%, 27%);
  border-radius: 40px;
  padding: 14px 22px;
  font-size: 20px;
  margin-top: 12px;
}

.btn-primary {
  
  background-color: #5c1157;

  color: #ffffff;
  padding: 18px 16px;
  font-size: 16px;
  border-radius: 40px;
  width: 400px;
  cursor: pointer;
  margin-top: 100px;
}
.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 85px;
}
.btn-primary:hover {

  background-color: #073f31;
  border-color: #333;
}


.footer {
  color: rgb(253, 253, 253);
  background-color: #000000;
  position: absolute;

  bottom: 0;
  width: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 1.9;

}



.me-container {
  text-align: center;
  font-family: 'Your Font', sans-serif;
  }
  
  
  
  .studio-description {
  color: #ffffff;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
  }
  
  .studio-description__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 100px;
  color: #57e5ea;
  }
  
  .studio-description__text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: justify;
  color: #ffffff;
  margin-left: 150px; /* Отступ справа в 100px */
  margin-right: 150px;
  }
  
  
  .studio-description__text1 {
  font-size: 2.0rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #4d17b9;
  margin-left: 150px; /* Отступ справа в 100px */
  margin-right: 150px;
  margin-bottom: 100px;
  }
  .additional-info {
  font-size: 1.0rem;
  position: absolute;
  
  margin-top: 50px;
  margin-left: 600px; /* Отступ справа в 100px */
  margin-right: 150px;
  text-align: center;
  color: #ffffff;
  }
  
  .imgLogo {
    display: block;
    margin: 0 auto;
  margin-bottom: 40px;
  width: 350px;
    height:350px;
    border-radius: 10px;
  }
  .image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  }
  
  .image-wrapper {
  width: 30%;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  }
  .image-wrapper:hover {
    transform: scale(1.07);
  }
  
  .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  } 