
.Trainers-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #CCCCCC;
  background-image: linear-gradient(#CB2D6F,#14a098,#0F292F);
}

.container{
  position: relative;
  display: inline-block;
  justify-content: top;
  align-items: top;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.container .box{
  position: relative;
  left: 14rem;
  width: 18rem;
  height: 16rem;
  margin: 8rem;
  
}
.container .box:hover .imgBox {
  transform: translate(-1rem,-1rem);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.container .box:hover .content{
  transform: translate(3rem,15rem);
  box-shadow: 5px 5px 20px rgba(172, 34, 175, 0.436);
}
.imgBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  
}
.imgBox img{
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  resize: both;
}